<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
  <p>
    <div class="form-floating">
    <%= form.text_field :task_title, class:"form-control", placeholder: "Add Title Here" %>
    <%= form.label :task_title, class: "form-label" %>
    </div>
  </p>
  <p>
   <div class="form-floating">
    <%= form.text_area :task_detail, class:"form-control", placeholder: "Do chores..." %>
    <%= form.label :task_detail, class: "form-label" %>
    </div>
  </p>
  <p>
    <%= form.label :due_date, class: "form-label" %>
    <%= form.date_field :due_date, class:"form-control" %>
  </p>
  <p>
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </p>
<% end %>