 <div class="col-8 ">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading<%=task.id%>">
              <button class="accordion-button position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=task.id%>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%=task.id%>">
              <div class="container">
              <div class="row ">
              <div class="col-9"><h5><%= task.task_title %></h5></div>
              <div class="col"><%= link_to '<i class="bi bi-eye"></i>'.html_safe, category_task_path(task.id), class: "btn btn-primary"  %>
                <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_category_task_path(task.id), class: "btn btn-primary mx-2"  %>
                <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, [task.category, task],
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></div></div>
              </div>
                <% if @today_events.where(id: task.id).length > 0 %>
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <% elsif @before_events.where(id: task.id).length > 0 %>
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <% elsif @after_events.where(id: task.id).length > 0 %>
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <% end %>
              </button>
            </h2>
            <div id="panelsStayOpen-collapse<%=task.id%>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading<%=task.id%>">
              <div class="accordion-body">
                
                <p class="lead"><%= task.task_detail %></p>
                
                
                <% if task.due_date %>
                <div class="text-muted">Due: <%= task.due_date.strftime("%B %d, %Y") %></div>
                <% end %>
              </div>
            </div>
            </div>
          </div>
        </div>