<div class="container">
  <%= render "categories/flash" %>
</div>


<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-3 border rounded-1 pt-2">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <p>
          <div class="form-floating field">
          <%= f.email_field :email, class:"form-control", placeholder: "johndoe@gmail.com" %>
          <%= f.label :email, class:"form-label"  %>
          </div>
        </p>

        <p>
          <div class="form-floating field">
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "password" %>
          <%= f.label :password, class:"form-label" %>
          </div>
        </p>

      <% if devise_mapping.rememberable? %>
        <p>
          <div class="form-check field">
          <%= f.label :remember_me,  class: "form-check-label", for: "flexCheckDefault" %>
          <%= f.check_box :remember_me, id: "flexCheckDefault", class:"form-check-input" %>
          </div>
        </p>
      <% end %>
    <%= render "devise/shared/links" %>
        
        <div class="actions my-3 ">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
    <% end %>
    </div>
  </div>
</div>

