
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-4 border rounded-1">
      <%= form_with model: @category do |form| %>
     
        <% @category.errors.full_messages.each do |msg|%>
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <%= msg %>
          </div>
        <% end %>
     
       <p>
          <div class="form-floating">
          <%= form.text_field :category_title, class:"form-control", placeholder: "Add Title Here" %>
          <%= form.label :category_title, class: "form-label" %>
          </div>
        </p>
        <p>
         <div class="form-floating">
          <%= form.text_area :category_detail, class:"form-control", placeholder: "Write something...", style: "height: 150px;"  %>
          <%= form.label :category_detail, class: "form-label"%>
          </div>
        </p>
        <p>
          <%= form.submit "Submit", class: 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>