<h1>This is a index file</h1>


<%= render "flash" %>
<br>

<% @categories.each do |category| %>
    <h2>Title</h2>
    <%= category.category_title %>
    <h3>Details</h3>
    <%= category.category_detail %>
    <h3>Actions</h3>
    <%= link_to "SHOW", category %> |
    <%= link_to "EDIT", edit_category_path(category) %> |
    <%= link_to "DELETE", category, method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>

<br>

<%= link_to "create new category", new_category_path %>
