<h1>You are viewing a Category!</h1>
 
<h1>Title</h1>
<%= @category.category_title %>
<h3>detail</h3>
<%= @category.category_detail %>

<br>

<-------------->
<-------------->

<h2>Show Tasks</h2>
<% @tasks.each do |task| %>
    <h1>Title</h1>
    <%= task.task_title %>
    <h3>detail</h3>
    <%= task.task_detail %>
    <h3>due date</h3>
    <% if task.due_date %>
        <%= task.due_date.strftime("%B %d, %Y") %>
    <% end %>

    <h3>ACTION</h3>
    <%= link_to 'Show', category_task_path(task.id)  %>
    <%= link_to 'Edit', edit_category_task_path(task.id)  %>
    <%= link_to 'Destroy Task', [task.category, task],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>


<br>
<-------------->
<-------------->

<br>

<%= render "tasks/form" %>

<%= link_to "BACK", categories_path %>
